* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2rem;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  margin-top: 1rem;
}
#generate-btn {
  width: 10rem;
  margin: 1rem;
  padding: 10px;
  border-radius: 3px;
  background-color: orangered;
  border: none;
  color: white;
  cursor: pointer;
}

.floor {
  display: flex;
  background-color: #4b4453;
  height: 220px;
  margin-bottom: 10px;
  /* justify-content: space-between; */
  /* position: relative; */
}

.floor button {
  width: 5rem;
  margin: 1rem;
  padding: 10px;
  border-radius: 3px;
  background-color: orangered;
  border: none;
  color: white;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
}
.button-up,
.button-down {
  width: 5rem;
  height: 3rem;
  padding: 10px;
}
.left-door,
.right-door {
  width: 5rem;
  height: 200px;
  background-color: rgb(188, 63, 17);
  transition: width 2.5s;
  border: 1px solid white;
}
.lift {
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 0px;
  width: 10rem;
  position: relative;
  transition: bottom 4s;
  /* left: 8rem;*/
  bottom: 0;

  /* background-color: grey; */
}
